In [4]:
import pandas as pd 
import numpy as np 
df=pd.read_csv('SampleFile.csv')
df=df.select_dtypes(include=np.number)
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [7]:
max_abs = np.max(np.abs(df), axis=0)  # get max absolute value for each column
scaled_df = df / max_abs              # divide each column by its max absolute value
scaled_df.head()

    LotArea  MSSubClass
0  0.039258    0.315789
1  0.044600    0.105263
2  0.052266    0.315789
3  0.044368    0.368421
4  0.066250    0.315789

In [9]:
from sklearn.preprocessing import MinMaxScaler 
scaler=MinMaxScaler()
scaled_data=scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)
scaled_df.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294