In [4]:
import pandas as pd 
import numpy as np 
df=pd.read_csv('SampleFile.csv')
df=df.select_dtypes(include=np.number)
df.head()

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

In [ ]:
max_abs=np.max[]