In [13]:
import pandas as pd 
import numpy as np 
df=pd.read_csv('WineQT.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [14]:
import tensorflow as tf 
train_df=df.sample(frac=0.75,random_state=4)
val_df=df.drop(train_df.index)

In [15]:
max_val=train_df.max(axis=0)
min_val=train_df.min(axis=0)
range=max_val-min_val
train_df=(train_df-min_val)/(range)
val_df=(val_df-min_val)/range
X_train=train_df.drop('quality',axis=1)
X_val=val_df.drop('quality',axis=1)
y_train=train_df['quality']
y_val=val_df['quality']

input_shape=[X_train.shape[1]]

input_shape

[12]

model creation

linear model